
body {

	margin: 0 auto;
	padding: 25px 0;
	width: 940px;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	color:#474747;
}
fieldset{
	padding-bottom: 5px;
	padding-top: 5px;
	width: 940px;
	border-color: #34ABE0;
	margin: 5px;
}
table{
	width: 940px;
}
legend{
	font-weight: bold;
}

header nav{
	display: block;
}
nav ul{
	list-style: none;
}

nav ul li{
	float: left;
}
nav ul li a {
	display: block;
	height: 30px;
	padding: 30 px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #0000CD;
	margin: 5px;
}
nav ul li a:hover{
	color: #34ABE0;
}

/* nav ul li a.selecionado{ */
/* 	background-color: #34ABE0; */
/* 	margin-left: 10px; */
/* 	color: #FFF; */
/* 	height: 25px; */
/* 	line-height: 25px; */
/* 	margin-top: 2px; */
	
/* } */
.botao{
	padding: 3px;
	margin: 5px;
	
}
td{
	padding: 5px;
 
}

/* table { */
/* 	border: 0px; */
/* 	padding: 5px; */
/* 	margin: 5px; */
/* 	border-spacing: 0px; */
/* 	border-collapse: collapse; */
/* } */

.titulotb{
	font-size: 14px;
	font-weight: bold;
	background-color: #EAEAEA;

}
header{
		
	display: block;
	float: left;
}
.login{
/* 	background-color: #EAEAEA; */
	margin-left: 380px;
	margin-top: 100px;
	display: block;
	padding: 5px;
	
}